body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #2d2d2d;
    color: #fff;
}

h1 {
    color: #fff;
}

#game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
}

.guess-row {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
}

.guess-slot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #222121;
    box-shadow: #000000c2 0px 0px 5px;
    box-sizing: border-box;
    font-size: 1.2em; /* Increase font size */
    text-align: center; /* Center the text */
}

#guess-input {
    padding: 10px;
    font-size: 18px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px;
    margin-bottom: 10px;
    text-align: center;
    transition: border-color 0.3s ease;
}

#guess-input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.green {
    background-color: #32cd32;
}

.yellow {
    background-color: #ffd700;
}

.gray {
    background-color: #808080;
}

#keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.keyboard-row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.key {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid #333;
    box-sizing: border-box;
    cursor: pointer;
    background-color: #1e1e1e;
    color: #fff;
}
/* 
.key {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #e8e8e8;
    border: 1px solid #ccc;
    margin: 5px;
    cursor: pointer;
  } */

  .key.gray {
    background-color: #5a5a5a; /* or any other color you choose for letters not in the word */
  }
  
  .key.yellow {
    background-color: #c0a71a; /* or any other color you choose for correct letters in the guessed word */
  }

  .key.green {
    background-color: #248f24; /* or any other color you choose for incorrect letters in the guessed word */
  }