body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f3f3f3;
}

#gameArea {
    position: relative;
    height: 600px;
    width: 800px;
    border: 1px solid #000;
    background: #ddd;
}

#player {
    position: absolute;
    height: 100px;
    width: 50px;
    /* background: #f00; */
}

.platform {
    position: absolute;
    height: 20px;
    width: 100px;
    background: #0f0;
}

.platform:nth-child(2) {
    background: #0ff;
}

.platform:nth-child(3) {
    background: #f0f;
}

.platform:nth-child(4) {
    background: #ff0;
}

.platform:nth-child(5) {
    background: rgb(255, 0, 0);
}

.platform:nth-child(6) {
    background: rgb(0, 174, 255);
}
